@import "tailwindcss";

:root{
  --color-light:#ffffff;

  --color-dark:#000000ea;
  --bg-dark:#000000ef;
  --theme-color:#ff5500;
  --theme-light:#ff5500a3;
  --theme-color-dark:#022267;
  --theme-light-dark:#0222674c;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bg-theme{
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#ffffffb7, #0000009d), url(./assets/icons/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
